<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ingreso</title>
        <link rel = "stylesheet" href = "../stylesheets/styles.css">
        
    </head>

<body class="body2">
    <div class="Ingreso">
        <header>
            <a class="encabezado"><img src="../images/LOGO.png" alt=""></a>
        </header>
        <a class="Welcome">¡NOMBRE, te damos la bienvenida a Global Skills</a>   
        <a class="Welcome">Estas a punto de revolucionar tu forma de aprender</a>
        <a class="Welcome">Bienvenido al futuro de la educación</a>

        <p class="pie"><a href ="../views/Ingreso">¡Empezá ahora!</a></p>
    </div>

</body>
</html>
