<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Categoria - Global Skills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">

</head>

<body>
    <h4 class="disclaimer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quibusdam assumenda labore ipsam magni pariatur, nihil commodi quasi doloribus vel! Illum quaerat dolore magnam suscipit at aliquid, laudantium eius eaque.</h4>


    <nav class="menu">
        <a href="index.html" class="logo"><img src="../images/LOGO.png" alt="logo"></a>
        <ul class="enlaces">
            <li class="listHeader"><a href="#carrito" class="carrito"><img src="../images/carrito.png" alt="Carrito"></a></li>
            <li class="listHeader"><button type="button" class="">INGRESA</button></li>
            <li class="listHeader uno">
                <span></span>
                <span></span>
                <span></span>
            </li>
        </ul>




    </nav>
    <div class="giga">
        <div class="giga bannerCat">
            <img src="../images/hombre-categorias-de-productos.png" alt="" class="bgCat">
            <div class="txtCat">
                <h1 class="h1Cat">Nuestras Categorias</h1>
                <h2 class="h2Cat">Marketing Digital</h2>
                <h2 class="h2Cat">Gestion y Management</h2>
                <h2 class="h2Cat">Comunicacion efectiva global</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cont2 col-2">
         <div class="card cards categ">
             <div class="card-body cardBody">
                 
                  <ul class="cursos prodCat">
                    <li class="catCat">Categorias</li>
                <li>
                  <a href="/categoria/?">Marketing Digital</a>
                </li>
                <li>
                  <a href="/categoria/?">Gestion y Management</a>
                </li>
                <li>
                  <a href="/categoria/?">Comunicacion Efectiva Global</a>
                </li>
                
                
            </ul>
             </div>
         </div>
                
              
    </div>
    <div class="card col-8" id="card">
        <div class="card-body cardBody">

            <ul class="cursos">
                <li><img src="../images/dummyprod.jpg" alt="" class="prod"></li>
                <li>
                    <h3>Curso de Community Manager - Programa Integral</h3>
                </li>
                <li>
                    <h4>Por: Nombre Profesor</h4>
                </li>
                <li>
                    <p>Ar$ xxxx</p>
                </li>
                <i class="fa fa-trash" aria-hidden="true"></i>
                <li><button class="comprar">Comprar ahora</button></li>
            </ul>
            <ul class="cursos">
                <li><img src="../images/dummyprod.jpg" alt="" class="prod"></li>
                <li>
                    <h3>Curso de Community Manager - Programa Integral</h3>
                </li>
                <li>
                    <h4>Por: Nombre Profesor</h4>
                </li>
                <li>
                    <p>Ar$ xxxx</p>
                </li>
                <i class="fa fa-trash" aria-hidden="true"></i>
                <li><button class="comprar">Comprar ahora</button></li>
            </ul>
            <ul class="cursos">
                <li><img src="../images/dummyprod.jpg" alt="" class="prod"></li>
                <li>
                    <h3>Curso de Community Manager - Programa Integral</h3>
                </li>
                <li>
                    <h4>Por: Nombre Profesor</h4>
                </li>
                <li>
                    <p>Ar$ xxxx</p>
                </li>

                <i class="fa fa-trash" aria-hidden="true"></i>
                <li><button class="comprar">Comprar ahora</button></li>
                
            </ul>
        </div>
        <div class="card-body cardBody">

            <ul class="cursos">
                <li><img src="../images/dummyprod.jpg" alt="" class="prod"></li>
                <li>
                    <h3>Curso de Community Manager - Programa Integral</h3>
                </li>
                <li>
                    <h4>Por: Nombre Profesor</h4>
                </li>
                <li>
                    <p>Ar$ xxxx</p>
                </li>
                <i class="fa fa-trash" aria-hidden="true"></i>
                <li><button class="comprar">Comprar ahora</button></li>
            </ul>
            <ul class="cursos">
                <li><img src="../images/dummyprod.jpg" alt="" class="prod"></li>
                <li>
                    <h3>Curso de Community Manager - Programa Integral</h3>
                </li>
                <li>
                    <h4>Por: Nombre Profesor</h4>
                </li>
                <li>
                    <p>Ar$ xxxx</p>
                </li>
                <i class="fa fa-trash" aria-hidden="true"></i>
                <li><button class="comprar">Comprar ahora</button></li>
            </ul>
            
            <ul class="cursos">
                <li><img src="../images/dummyprod.jpg" alt="" class="prod"></li>
                <li>
                    <h3>Curso de Community Manager - Programa Integral</h3>
                </li>
                <li>
                    <h4>Por: Nombre Profesor</h4>
                </li>
                <li>
                    <p>Ar$ xxxx</p>
                </li>
                <i class="fa fa-trash" aria-hidden="true"></i>
                <li><button class="comprar">Comprar ahora</button></li>
            </ul>
            
        </div>
    </div>


    </div>  <!-- creo que este cierre esta demás-->

    <footer class="container-fluid menu" >

        <ul>
            <p>Nosotros</p>
            <li><a href="">Quienes Somos</a></li>
            <li><a href="">Terminos y condiciones</a></li>
            <li><a href="">Politica y Privacidad</a></li>

        </ul>

        <ul>
            <p>Info</p>
            <li><a href="">Cursos</a></li>
            <li><a href="">Profesores</a></li>
            <li><a href="">Regalos</a></li>
        </ul>


        <ul>
            <p>Medios</p>
            <li><a href="">Twitter</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Linkedin</a></li>
        </ul>

        <ul>
            <p>Contacto</p>
            <li><a href="">Necesito Ayuda</a></li>
            <li><a href="">Ingresa</a></li>
            <li><a href="">Registrate</a></li>

        </ul>
        <a href="index.html" class="logoF"><img src="../images/LOGO.png" alt="logo" class="logo"></a>
    </footer>
</body>

</html>
