<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ingreso</title>
        <link rel = "stylesheet" href = "../stylesheets/styles.css">
        
    </head>

<body class="body2">
    <div class="Ingresa">
        <span class="logo">
            <img src="../images/LOGO.png" alt="">
        </span>     
        <span class="welcome">¡NOMBRE, te damos la bienvenida a Global Skills</span>
    </div>
    <div>
    <article> 
        <p class="antepie">Estas a punto de revolucionar tu forma de aprender</p>
        <p class="antepie">Bienvenido al futuro de la educación</p>
    </article>
    </div>
    <div>
    
        <p class="pie"><a href ="../product.ejs">¡Empezá ahora!</a></p>
</div>
</body>
</html>
