<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel = "stylesheet" href = "../stylesheets/styles.css">
        <link rel = "stylesheet" href = "../css/all.min.css">
        <script src="https://kit.fontawesome.com/fb000fb5ed.js"></script>
        
    </head>

<body class="body5">
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
                <div class="producto">
            <header>
                <img src="../images/LOGO.png" alt="">
                <p class= "menu"><a href ="#"<i class="fas fa-shopping-cart"><a href =""></a>
                <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-input"value="Ingresa"><i class="fas fa-bars"></i></p> 
            </header>
    </div>         
    <section class="imagen1">
            <article class="imagen1">
                <div class="photo-container">
                    <img class="image" src="../images/comunicacion-ejecutiva-gloobal.png">
                      
                </div>
          
    <div class="fixed">
        <article >         
            <p class="font">Curso de Community manager</p>
            <p class="font">Programa Integral</p>
            <p class="font">Curso dado por: Nombre Apellido</p>
  
            <p class="font">AR$ XXX <a href=<i class="far fa-star"></i></a></p> 
            <p>
            <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-Cuenta"value="Comprar ahora"></p>    
            <input type="text" id="carrito" name="carrito" placeholder="" class="form-input"value="Agregar a mi carrito"></p>                                
        </article>
    </div>  
            <h2>INFORMACION</h2>
                <div class= "caja1">
                    <ul class="info">
				        <li><a <i class="far fa-heart"></i> Empieza y termina a tu tiempo</a></li>
				        <li><a <i class="far fa-check-circle"></i>  Curso Completo</a>
				        <li><a <i class="far fa-play-circle"></i>  XX clases más archivos adjuntos</a></li>
				        <li><a <i class="fas fa-backward"></i>  Re hace el curso cuantas veces quieras</a></li>
				        <li><a <i class="far fa-file-word"></i>  desarrolla un trabajo práctico</a></li>
				        <li><a <i class="fas fa-bullhorn"></i>  Idioma: Español / Inglés</a></li>
			        </ul>
                </div>        
            </article>
            
            <article class="modalidad">
            
                <h3>Modalidad Digital</h3>    
                    <ul>
                        <li><a>Cursos 100% prácticos con grupos reducidos</a></li>
                        <li><a>Clase en tiempo real por video conferencia</a></li>
                        <li><a>Profesor disponible para hacer consultas en vivo</a></li>
                        <li><a>Grabación de las clases disponibles para ver luego</a></li>
                        <li><a>Asistencia administrativa personalizada todos los días</a></li>
                    </ul>

            </article>
                <br>
        
                <h2>Plan de Estudios</h2>
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex cupiditate aliquid maxime quidem maiores, ducimus veritatis libero porro perspiciatis, tenetur rem blanditiis sed aperiam beatae provident. Minima voluptates est commodi dolores ipsa perferendis veritatis soluta minus repellat, nulla corporis at voluptatem odit quasi quibusdam. Minus, libero delectus! Hic, doloribus magni? ipsum dolor sit amet consectetur adipisicing elit. Quia, accusantium, labore atque velit, delectus mollitia sapiente necessitatibus dignissimos assumenda minima molestiae eveniet est nobis voluptatibus.</p>
    
              
                <h2>Descripción</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex cupiditate aliquid maxime quidem maiores, ducimus veritatis libero porro perspiciatis, tenetur rem blanditiis sed aperiam beatae provident. Minima voluptates est commodi dolores ipsa perferendis veritatis soluta minus repellat, nulla corporis at voluptatem odit quasi quibusdam. Minus, libero delectus! Hic, doloribus magni? ipsum dolor sit amet consectetur adipisicing elit. Quia, accusantium, labore atque velit, delectus mollitia sapiente necessitatibus dignissimos assumenda minima molestiae eveniet est nobis voluptatibus.</p>
    
            <article>
                <h2>PREGUNTAS FRECUENTES</h2>
        
                <ul class="info">
                    <li><a href="#">¿Que es la modalidad digital?</a></li>
                    <li><a href="#">¿Cuales cursos puedo hacer con modalidad digital?</a></li>
                    <li><a href="#">¿Que incluyen los cursos de Global Skill?</a></li>
                    <li><a href="#">¿Que cursos estan en Ingles?</a></li>
                    <li><a href="#">Que otros idiomas tienen?</a></li>
                </ul>
            
               
            </article>
        </section>

        <h2 class="row2">CURSOS RELACIONADOS</h2>
        <div class= "container2">
            
            <div class="row1">     
                   
                <article class="col-md-3 ">         
                        <img class="photo" src="../images/marketing-digital-home.png" alt="pdto 01">
                        <ul class="info">
                            <li>curso de Marketing Online</li>
                            <li>Programa Integral</li>
                            <li>Por Nombre Apellido</li>
                        </ul>
 
                           <p class="star">$$<a href=<i class="far fa-star"></i></a></p>
                            <p><a href =<i class="fas fa-shopping-cart"></i><a href ="">
                            <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-relac" value="Comprar ahora"></p>    
                                                            
                </article> 

                <article class="col-md-3 ">         
                        <img class="photo" src="../images/marketing-digital-home.png" alt="pdto 01">
                        <ul class="info">
                            <li>Curso de Community Manager-</li>
                            <li>Introducción I</li>
                            <li>Por Nombre Apellido</li>
                        </ul>
                
                            <p class="star">$$<a href=<i class="far fa-star"></i></a></p> 
                            <p><a href =<i class="fas fa-shopping-cart"></i><a href ="">
                            <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-input"value="Comprar ahora"></p>
                                                                           
                </article>     
                <article class="col-md-3 ">         
                        <img class="photo" src="../images/marketing-digital-home.png" alt="pdto 01">
                        <ul class="info">    
                            <li>Curso de Google Adwords y</li>
                            <li>Posicionamiento en Google</li>
                            <li>Por Nombre Apellido</li>
                        </ul>
                            <p class="star">$$<a href=<i class="far fa-star"></i></a></p> 
                            <p><a href =<i class="fas fa-shopping-cart"></i><a href ="">
                            <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-input"value="Comprar ahora"></p>       
                    </article>
                    
                    <article class="col-md-3">         
                        <img class="photo" src="../images/marketing-digital-home.png" alt="pdto 01">
                        <ul class="info">
                            <li>Curso de Marketing</li>
                            <li>de Contenidos</li>
                            <li>Por Nombre Apellido</li>
                        </ul>
                            <p class="star">$$<a href=<i class="far fa-star"></i></a></p> 
                            <p><a href =<i class="fas fa-shopping-cart"></i><a href ="">
                            <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-input"value="Comprar ahora"></p>     
        
                    </article>         
            </div>
        
        </div>   

        <div class= "container2">
            <div class="row">       
                <article class="col-md-3 ">      
                    <h3>NOSOTROS</h3>
                        <ul class="infofooter"> 
                            <li><a href="#">Quienes somos</li>
                            <li><a href="#">Términos y condiciones</li>
                            <li><a href="#">Política y Privacidad</li>
			            </ul>
                </article>
              
                <article class="col-md-3 ">  
                    <h3>INFO</h3>
                        <ul class="infofooter">
                            <li><a href="#">Cursos</a></li>
                            <li><a href="#">Profesores</a></li>
                            <li><a href="#">Regalos</a></li>
                        </ul>
                </article>
                <article class="col-md-3 ">  
                    <h3>MEDIOS</h3>
                        <ul class="infofooter">
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Linkedin</a></li>
                        </ul>
                </article>
                <article class="col-md-3 ">  
                    <h3>CONTACTO</h3>
                        <ul class="infofooter">
                            <li><a href="#">Necesitas ayuda</a></li>
                            <li><a href="#">Ingresá</a></li>
                            <li><a href="#">Registrate</a></li>
                        </ul>           
                </article>
        </div>

               
</div>
</body>
</html>
