<!DOCTYPE html>
<html>
<body class= "body1">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>

        <link rel = "stylesheet" href = "../stylesheets/styles.css">
        
    </head>


<form action="/register" method="POST">
    
    <div class="register">
        <h1>Crear Cuenta</h1>

        <p>
            <label for="name" class="form-label"></label>
            <input type="text" id="nombre" name="Nombre" class="form-input" value= "Nombre">
        </p>
        <p>
            <label for="apellido" class="form-label"></label>
            <input type="text" id="apellido" name="apellido" class="form-input" value= "Apellido">
        </p>
        <p>
            <label for="Email" class="form-label"></label>
            <input type="email" id="Email" name="Email" placeholder="Ej: @gmail.com" class="form-input" value="Email">
        </p>
        <p>
            <label for="password" class="form-label"></label>
            <input type="password" id="password" name="password" placeholder="Password" class="form-input" value="">
        </p>
        <p>
            <label for="password" class="form-label"></label>
            <input type="password" id="password" name="retypePassword" placeholder="Repetir contraseña" class="form-input" Value="Repetir Contraseña">
        </p>
        <p class="minimo">Mínimo 8 caracteres, una letra y un número.</p>
        <a class="usando">O USANDO</a>

        <p>
            <label for="name" class="form-label"></label>
            <input type="text" id="nombre" name="Nombre" class="registrarcon" value= "REGISTRATE USANDO GMAIL">
        </p>
        <p>
            <label for="apellido" class="form-label"></label>
            <input type="text" id="apellido" name="apellido" class="registrarcon" value= "REGISTRATE USANDO FACEBOOK">
        </p>
        
        <p>
        <input type="submit" id="Crear cuenta" name="" placeholder="" class="form-Cuenta" value= "Crear Cuenta"></p>

        <article>
        <p class="antePieRegistro">Al crear esta cuenta usted acepta nuestras Políticas de Privacidad y Términos del servicio</p> 
        </article>
        <br>
        <article class="pieRegistro">
        <p class="pieRegistro"><a class="pieRegistro" href ="./Ingreso.ejs">Si YA TENES CUENTA HACE CLICK ACÁ</a></p>
    </article>
    </div>
</form>

</body>
</html>
